
  table, th, td {
    // border: 1px dotted black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }

  img {
    float: left;
    margin-right: 4rem;
    height: 320px;
  }

  button {
    margin: 1rem 0;
  }