<input type="text" [(ngModel)]="search" placeholder="By Name...">
<input type="text" [(ngModel)]="searchByTeam" placeholder="By Team...">
<input type="date" [(ngModel)]="birthDate">
<button
    class="btn"
    [routerLink]="['/players']"
    [queryParams]="{showTeams: true}"
>Show Team
</button>
<div
    *ngFor="let player of playersServices.players | filter:search:'name':birthDate | filter:searchByTeam:'team':birthDate"
    class="card"
>
    <a [routerLink]="['./', player.id]">
        <h2>{{player.name}}</h2>
        <strong *ngIf="showTeams">(Team: {{player.team}})</strong>
        <p>{{player.description}}</p>
    </a>
</div>
<p  *ngIf="playersServices.players.length === 0">No results. Try change filter</p>