<label for="">Filter By ...</label>
<br />
<input type="text" [(ngModel)]="search" placeholder="... Name">
<input type="text" [(ngModel)]="searchByTeam" placeholder="... Team">
<label for="">Birthday From</label>
<input type="date" [(ngModel)]="fromDate">
<label for="">To</label>
<input type="date" [(ngModel)]="toDate">

<button
    class="btn"
    [routerLink]="['/players']"
    [queryParams]="{showTeams: true}"
>Show Team
</button>
<div
    *ngFor="let player of playersServices.players | filter:search:'name':fromDate:toDate | filter:searchByTeam:'team':fromDate:toDate"
    class="card"
>
    <a [routerLink]="['./', player.id]">
        <h2>{{player.name}}</h2>
        <strong *ngIf="showTeams">(Team: {{player.team}})</strong>
        <p>{{player.description}}</p>
    </a>
</div>
